NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api
NEXT_PUBLIC_WHATSAPP_NUMBER=919080086413
NEXT_PUBLIC_PHONE_NUMBER=+91 90800 86413
NEXT_PUBLIC_COMPANY_ADDRESS=Ganapathy Nagar, Gudiyattam, Vellore 632602
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/naam_events_gudiyattam?igsh=MTE0empxcnFpY3J0OA==
